.firstdiv{
    font-size: 30px;
}
.firstdiv img{
    height: 30px;
}
span.a{
    font-size: 30px;
    font-family: sans-serif;
}
span.b{
    font-size: 60px;
    padding-left: 880px;
}
.colour{
    background-color: rgb(0,0,250);
    font-size: 20px;
}
.flex-container{
    border: 3px solid rgba(255,119,0,1);
    background-color: rgba(255,119,0,1);
    font-size: 20px;
}
span.c{
    color: white;
    font-family: sans-serif;
}
span.d{
    text-decoration: underline;
}
.flex-container2{
    border: 3px solid white;
    display: flex;
    height: 350px;
    justify-content: space-around;
}
.flex-itemf img{
    border: 2px solid white;
    height: 350px;
    width: 650px;
    padding-left: 300px;    
}
.flex-itemo{
    border: 2px  rgba(65,133,244,1);;
    height: 40px;
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 50px;
    background-color:  rgba(65,133,244,1);
    color: white;
    padding-top: 20px;
}
.flex-itemm h1{
   padding-left: 70px;
   font-size: 40px;
   font-family: sans-serif;
   
}
.flex-itemm p{
    padding-left: 70px;
    font-family: sans-serif;
    padding-bottom: 60px;
}
.flex-containerr{
    border: 2px solid  rgba(65,133,244,1);;
    display: flex;
    background-color: rgba(65,133,244,1);
    height: 960px;
    justify-content: start;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
    
}
.flex-itemr{
    border: 2px solid rgba(65,133,244,1);
    height: 450px;
    width: 280px;
    background-color: white;
}
span.w img{
    height: 50px;
    padding-right: 100px;
}
.flex-itemr h1{
    font-family: sans-serif;
    padding-left: 4px;
    font-size: 30px;
}
.flex-itemr p{
    font-family: sans-serif;
    padding-left: 4px;
}
span.f img{
    height: 50px;
    padding-left: 200px;
    width: 50px;
    padding-top: 70px;
}
span.g img{
    padding-top: 40px;
    height: 50px;
    width: 50px;
    padding-left: 200px;
}
span.h img{
    height: 50px;
    width: 50px;
    padding-left: 200px;
    padding-top: 50px;
}
span.i img{
    height: 50px;
    padding-left: 4px;
}
span.j img{
    height: 50px;
    padding-left: 4px;
}
span.k img{
    height: 50px;
    width: 50px;
    padding-left: 200px;
    padding-top: 40px;
}
h4{
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 100px;
}
.flex-containerrr{
    border: 2px solid rgba(242,242,242,1);
    height: 200px;
    width: 900px;
    margin: 15px;
    flex-direction: column;
    background-color: rgba(242,242,242,1);
}
.thirddiv{
    padding-left: 90px;
}
h6{
    font-family: sans-serif;
    font-size: 30px;
    padding-left: 90px;
}
.e{
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 90px;
    padding-top: 5px;
}
.flex-containerrrr{
    border: 2px solid white;
    height: 230px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.flex-item{
    border: 3px solid rgb(245, 238, 238);
    height: 150px;
    width: 220px;
    align-items: center;
    background-color: rgba(242,242,242,1);
}
.flex-item img{
    height: 50px;
    padding-left: 70px;
}
.flex-item p{
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 5px;
}
.flex-containerrrrr{
    border: 2px solid rgba(242,242,242,1);
    height: 230px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(242,242,242,1);
}
.flex-itemq{
    border: rgba(242,242,242,1);;
    height: 150px;
    width: 220px;
    align-items: center;
    background-color: rgba(242,242,242,1);
}
.flex-itemq img{
    height: 50px;
    padding-left: 70px;
}
.flex-itemq p{
    height: 50px;
    padding-left: 50px;
    font-family: sans-serif;
}
.FLEX-ITEMV{
    border: blanchedalmond;
    height: 50px;
    font-family: sans-serif;
    padding-left: 100px;
    font-size: 20px;
    background-color: rgba(242,242,242,1);
    padding-top: 20px;
}
.div{
    font-size: 13px;
    font-family: sans-serif;
    text-align: right;
    word-spacing: 5px;
}
